
tr:nth-child(even){
	background-color:#f5f5f5;
}
th{
	padding:10px;
	border-radius:10px 10px 0px 0px;
	background-color:cadetblue;
	color:white;
}
td{
	padding:8px;
}
table{
	width:100%;
	border:1px solid #f5f5f5;
}
